PORT=3000
JWT_SECRET=
ENJIN_API_URL=https://platform.canary.enjin.io/graphql
ENJIN_API_KEY=
ENJIN_PLATFORM_WEBSOCKET_URL=wss://ws-us2.pusher.com:443/app/76b7604dabc23c62be75?protocol=7

DAEMON_WALLET_ADDRESS=
ENJIN_COLLECTION_ID=